@font-face
	font-family 'josefin'
	src url('../font/josefin/JosefinSansStd-Light-webfont.eot')
	src url('../font/josefin/JosefinSansStd-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../font/josefin/JosefinSansStd-Light-webfont.woff') format('woff'), url('../font/josefin/JosefinSansStd-Light-webfont.ttf') format('truetype'), url('../font/josefin/JosefinSansStd-Light-webfont.svg#JosefinSansStdLight') format('svg')
	font-weight normal
	font-style normal